
#remove html file extension https://post5.github.io/microblog1/arquivo.html
# to https://post5.github.io/microblog1/arquivo
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^\.]+)$ $1.html [NC, L] 

